<html>
<head>
{#jquery}    <script src = "{.}"></script>{/jquery}
    <script src = "meat.js"></script>
{#dependencies}    <script src = "{.}"></script>{~n}{/dependencies}
    <script>
        window.onload = function () {
            var domain = {},
                require = define.meat.makeRequire(domain, '');
{#jquery}
            // add support for jQuery, and allow jQuery code
            // to use our modules
            define.meat.supportJQuery(require);
{/jquery}                
            require('{main}');
        }
    </script>
</head>
<body>
</body>
</html>

